<h1 class="text-center mt-4">Articles listing page</h1>

<div class="flickr_pagination">
  <div class="page_info mb-4">
    <%= page_entries_info @articles %>
  </div>
  <%= will_paginate @articles, :container => false %>
</div>

<%= render "article" %>

<div class="flickr_pagination mb-5">
  <%= will_paginate @articles, :container => false %>
</div>

<div class="d-flex mb-2 justify-content-center">
  <%= link_to "Create article", new_article_path, class: "btn btn-secondary"%>
</div>